.App {
  background-color: rgba(0,0,0,.6);
  text-align: center;
}

.Header {
  font-size: 3rem;
  color: #ffd700;
  text-shadow: 1px 1px 5px #ffd700;
}
/* write your parent styles in here for your App.js */
